################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Practica_01/.vs/Practica_01/FileContentIndex/50275b13-0fe9-4320-bfd4-928c9460f8e1.vsidx
/Practica_01/.vs/Practica_01/FileContentIndex/a89c02e6-01cc-4882-857b-e8b91c359857.vsidx
/Practica_01/.vs/Practica_01/FileContentIndex/50275b13-0fe9-4320-bfd4-928c9460f8e1.vsidx
/Practica_01/.vs/Practica_01/FileContentIndex/a89c02e6-01cc-4882-857b-e8b91c359857.vsidx
